.hakkımda{
    padding: 0px 20px;
    
}

.hakkımda .wrapper{
    width: 100%;
    max-width: 1366px;
    margin: 50px auto;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: flex;
}

.hakkımda .wrapper:nth-child(2n){
    flex-direction: row-reverse;
  
}

.hakkımda .wrapper .text{
    padding: 5px;
    flex: 1;
}

.hakkımda .wrapper .text h1{
    font-family: "Dancing Script", cursive;
}

.hakkımda .wrapper .text p{
    font-family: "Josefin Sans", sans-serif;
    padding: 10px;
    font-size: 1.2rem;
    line-height: 25px;
}

.hakkımda .wrapper .text p::first-letter{
    margin-left: 20px;
}


.hakkımda .wrapper .photo{
    overflow: hidden;
    border-radius: 10px;
    flex: 1;
}

.hakkımda .wrapper .photo  img{
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s;
}
.hakkımda .wrapper .photo  img:hover{
    transform: scale(1.1);
}

/* Scroll Animation */
.hakkımda .wrapper{
    opacity: 1;
    transition: all 0.5s;
}


.hakkımda .wrapper.active{
    opacity: 0;
}

.hakkımda .wrapper .text{
   transform: translateX(-20px);
   transition: all 0.5s;
}
.hakkımda .wrapper:nth-child(2n) .text{
    transform: translateX(20px);
    transition: all 0.5s;
 }

.hakkımda .wrapper .text.active{
        transform: translateX(0px);
}

.hakkımda .wrapper .photo{
    transform: translateX(20px);
    transition: all 0.5s;
 }
 .hakkımda .wrapper:nth-child(2n) .photo{
     transform: translateX(-20px);
     transition: all 0.5s;
  }
 
 .hakkımda .wrapper .photo.active{
         transform: translateX(0px);
 }


