#app {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 90%;
    margin: 50px auto;
}

#contact h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-control {
    margin-bottom: 20px;
}

.form-control input,
.form-control textarea {
    width: calc(100% - 20px);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form-control button {
    width: 48%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.form-control button:hover {
    background-color: #0056b3;
}

.form-control button:first-of-type {
    margin-right: 4%;
}

.submitted-data {
    margin-top: 20px;
}

.error-message {
    color: red;
    margin-top: 20px;
}
